---
import TitlePage from '../../components/BlogTemplates/TitlePage.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getTags } from '../../utils'

const tags = await getTags()
---

<BaseLayout title='Tags'>
	<TitlePage title='Tags' />
	<div class='flex justify-center flex-wrap gap-4'>
		{
			tags.map((tag) => (
				<a
					href={`/tags/${tag}`}
					class='inline-block bg-textLeaf rounded-full px-3 py-1 text-sm font-semibold text-oatmeal mr-2 mb-2'
				>
					#{tag}
				</a>
			))
		}
	</div>
</BaseLayout>
