---
import { Image } from 'astro:assets'
import logo from '../../../public/branding/LightLogo.png'
import Title from '../Title.astro'
type Props = {
	title: string
}

const { title } = Astro.props
---

<div class='flex justify-start items-center gap-2 title'>
	<Title>{title}</Title>
</div>
